@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body{
    font-family: 'Zilla Slab Highlight', cursive;
    margin: 0;
    height: 1500px;
    
    
    
    
}
ul{
    list-style-type: none;
}
.warrp{ 
    display:grid;
    grid-template-columns:   30%  30%  ;
    grid-gap: 1em;
   
}

.first{
   display: grid;
   justify-content: center;


}

main{
    margin-top: 15px;
    padding: 90px;

}

nav{
    margin-bottom: 0;
    top: 0;
    overflow:hidden;
    position:fixed;
    width: 100%;
    background-color: rgb(39, 34, 34);
}

h2,h1{
    color: white; 
}
nav ul{
    width: 100%;
    list-style-type: none;
    float: left;
    
}
nav ul li{
    display: block;
    float: left;
    padding: 15px;
    
}
nav ul li a
{
    float: left;
 
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
  font-size:20px;
    text-decoration: none;
    color: white;

}
nav ul li a:hover
{
background-color: rgb(0, 0, 0);
 transition: 5000ms ;
}

nav ul li img{
    padding: 14px 16px;
    display: block;
    width:70px;
    

}

table, th, td {
    border: 1px solid black;
  }


  footer{
      background-color: rgb(29, 25, 25);
  }
  footer>div
  {
      text-align: center;
      color: white;
      display: block;
  }

  .contact{
      background-color: rgb(39, 34, 34);
     
      display: grid;
      grid-template-columns: 50% 50%;
      font-size: 20px;



  }


  
